body {
    background: cornflowerblue;
    color: rgb(4, 34, 67);
    text-align: center;
}

h1 {
    color:rgb(255, 153, 0);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 50px;
}

table {
    color:black;
    font-size:20px;
    margin:auto;
}

tr {
    text-align: center;
}